body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}


.wrap-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.wrap-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.img1, .img2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img1 img, .img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.wrap-logo img {
    max-width: 90px;
    height: auto;
}

.wrap-text {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    color: white;
}
.p1-wrap, .p2-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1-wrap {
    margin-bottom: 40px;
}
.p2-wrap {
    margin-bottom: 20px;
}
.p1 {
    font-size: 35px;
    margin-bottom: -30px;
    font-family: 'Manrope';
    letter-spacing: 0.5cap;
}
.p2 {
    margin-bottom: -10px;
    font-size: 18px;
    font-family: 'Manrope';
    display: flex;
}

.mouse-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.mouse-icon img {
    max-width: 80px;
    height: auto;
}

.wrap-img-footer {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.inner-img img {
    max-width: 300px;
    height: auto;
}

/*FIX THAT*/
.logo-c {
    width: 100%;
}

/*****************************************/

.wrap-logo2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.logo {
    padding-top: 20px;
}
.wrap-logo2 img {
    max-width: 90px;
    height: auto;
}
.wrap-img-footer2 {
    position: absolute;
    top: 185vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.inner-img2 img {
    max-width: 300px;
    height: auto;
}



.wrap-text2 {
    position: absolute;
    top: 140vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    color: white;
}
.wrap-content2 {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.text1, .text2 {
    max-width: 300px;
    font-family: "Manrope";
    letter-spacing: 0.2cap;
    text-align: center;
    font-size: 30px;
}
.switch_mob {
    width: 100px;
    height: auto;
}
.button {
    height: 150px;
    width: 100px;
}


#fv-dots {
    position: fixed;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
}

#fv-dots ul {
    display: block;
    list-style: none;
}

#fv-dots ul li {
    padding: 10px;
}

#fv-dots ul li a {
    display: block;
    margin: auto;
    width: 10px;
    height: 10px;
    text-align: center;
}

#fv-dots ul li a span {
    display: block;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    background-color: #888888;
    border-radius: 50%;
    margin: 0 auto;
    width: 7px;
    height: 7px;
    transition: 0.1s ease all;
}


#fv-dots ul a.active span {
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
}

#fv-dots ul a:hover span {
    width: 9px;
    height: 9px;
}

@media (max-width: 1100px) {
    .wrap-content2 {
        width: 800px;
    }
    .text1, .text2 {
        font-size: 25px;
    }
}
@media (max-width: 800px) {
    .wrap-content2 {
        width: 600px;
    }
    .text1, .text2 {
        font-size: 23px;
    }
}
@media (max-width: 600px) {
    .wrap-content2 {
        width: 400px;
    }
    .text1, .text2 {
        font-size: 20px;
    }
}

/***********************************/
.section3{
    max-height: 100vh;
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    height: 100%;
}

.column {
    box-sizing: border-box;
}

.column-1 {
    width: 34%;
}

.column-2 {
    width:48%;
}

.column-3 {
    width: 18%;
    background-color: rgb(202, 0, 0);
}


.wrap-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.img3{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-video {
    top: -90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.video {
    height: auto;
    max-width: 450px;
    width: 100%;
    min-width: 200px;
    padding: 20px;
}

.wrap-map {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.map{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-logo3 {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.logo3 {
    padding-top: 5vh;
}
.wrap-logo3 img {
    max-width: 70px;
    height: auto;
}


@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .column-1 {
      width: 100%;
      max-height: 43vh;
    }
    .wrap-video {
        top:-100%
    }
    .video {
        height: auto;
        max-width: 200px;
        width: 100%;    
        padding: 20px;
    }
  }